<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>again_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {100, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{100, 102}</string>
			<key>spriteSourceSize</key>
			<string>{110, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 511}, {100, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>beef_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {129, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{129, 60}</string>
			<key>spriteSourceSize</key>
			<string>{129, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 611}, {129, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_main.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1924}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg_opt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 962}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bonus_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{60, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1109, 609}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bonus_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {58, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 34}</string>
			<key>spriteSourceSize</key>
			<string>{60, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1169, 609}, {58, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bonus_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {60, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 48}</string>
			<key>spriteSourceSize</key>
			<string>{60, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1319, 588}, {60, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 112}</string>
			<key>spriteSourceSize</key>
			<string>{41, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 0}, {41, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_crash_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 187}</string>
			<key>spriteSourceSize</key>
			<string>{67, 187}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 0}, {67, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_crash_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {95, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{95, 202}</string>
			<key>spriteSourceSize</key>
			<string>{95, 202}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {95, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_crash_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {133, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{133, 206}</string>
			<key>spriteSourceSize</key>
			<string>{133, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 0}, {133, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_crash_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {207, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{207, 128}</string>
			<key>spriteSourceSize</key>
			<string>{207, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 3952}, {207, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_crash_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {238, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{238, 90}</string>
			<key>spriteSourceSize</key>
			<string>{238, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 3952}, {238, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bottle_crash_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {239, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{239, 89}</string>
			<key>spriteSourceSize</key>
			<string>{239, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1006, 518}, {239, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bowling_ball_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 83}</string>
			<key>spriteSourceSize</key>
			<string>{83, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 660}, {83, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bowling_ball_crack_land_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {166, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{166, 68}</string>
			<key>spriteSourceSize</key>
			<string>{166, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1247, 518}, {166, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bread_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 79}</string>
			<key>spriteSourceSize</key>
			<string>{120, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 467}, {120, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 97}</string>
			<key>spriteSourceSize</key>
			<string>{135, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 208}, {135, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_main_exit.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {138, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 101}</string>
			<key>spriteSourceSize</key>
			<string>{138, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 270}, {138, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_main_opt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {199, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{199, 144}</string>
			<key>spriteSourceSize</key>
			<string>{199, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3952}, {199, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_main_play.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {284, 286}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{284, 286}</string>
			<key>spriteSourceSize</key>
			<string>{284, 286}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3646, 402}, {284, 286}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_main_score.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {395, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{395, 158}</string>
			<key>spriteSourceSize</key>
			<string>{395, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1887, 518}, {395, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_main_soc.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {196, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{196, 143}</string>
			<key>spriteSourceSize</key>
			<string>{196, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 3952}, {196, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_main_store.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {395, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{395, 151}</string>
			<key>spriteSourceSize</key>
			<string>{395, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2284, 518}, {395, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 169}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_opt_music.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {324, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{324, 151}</string>
			<key>spriteSourceSize</key>
			<string>{324, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3007, 518}, {324, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_opt_notif.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {324, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{324, 150}</string>
			<key>spriteSourceSize</key>
			<string>{324, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2284, 671}, {324, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_opt_sound.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {324, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{324, 151}</string>
			<key>spriteSourceSize</key>
			<string>{324, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2681, 518}, {324, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cabbage_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 79}</string>
			<key>spriteSourceSize</key>
			<string>{91, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 499}, {91, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cabbage_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 79}</string>
			<key>spriteSourceSize</key>
			<string>{91, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 189}, {91, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cap_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 83}</string>
			<key>spriteSourceSize</key>
			<string>{100, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 338}, {100, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>carrots_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {224, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{224, 40}</string>
			<key>spriteSourceSize</key>
			<string>{224, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 615}, {224, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cheese_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 77}</string>
			<key>spriteSourceSize</key>
			<string>{80, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4014, 546}, {80, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chef.psd</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {519, 516}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{519, 516}</string>
			<key>spriteSourceSize</key>
			<string>{519, 516}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1041, 0}, {519, 516}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chef_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {519, 516}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{519, 516}</string>
			<key>spriteSourceSize</key>
			<string>{519, 516}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1562, 0}, {519, 516}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chef_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {519, 516}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{519, 516}</string>
			<key>spriteSourceSize</key>
			<string>{519, 516}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2083, 0}, {519, 516}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chef_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {519, 516}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{519, 516}</string>
			<key>spriteSourceSize</key>
			<string>{519, 516}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3125, 0}, {519, 516}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chef_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {519, 516}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{519, 516}</string>
			<key>spriteSourceSize</key>
			<string>{519, 516}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2604, 0}, {519, 516}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chicken_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 90}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 419}, {120, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>conveyer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {750, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{750, 102}</string>
			<key>spriteSourceSize</key>
			<string>{750, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3848}, {750, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>duck_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 81}</string>
			<key>spriteSourceSize</key>
			<string>{80, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3932, 546}, {80, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>egg_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{40, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 114}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>garglic_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 66}</string>
			<key>spriteSourceSize</key>
			<string>{60, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3932, 629}, {60, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {104, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 132}</string>
			<key>spriteSourceSize</key>
			<string>{104, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 204}, {104, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 61}</string>
			<key>spriteSourceSize</key>
			<string>{140, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 548}, {140, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 74}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{103, 74}</string>
			<key>spriteSourceSize</key>
			<string>{107, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 423}, {103, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 92}</string>
			<key>spriteSourceSize</key>
			<string>{150, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 373}, {150, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lettuce_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 78}</string>
			<key>spriteSourceSize</key>
			<string>{90, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 580}, {90, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_1_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2886}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_ind.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 4}</string>
			<key>spriteSourceSize</key>
			<string>{640, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 657}, {640, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>level_ind_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 12}</string>
			<key>spriteSourceSize</key>
			<string>{640, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 4082}, {640, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 400}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 400}</string>
			<key>spriteSourceSize</key>
			<string>{400, 400}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3646, 0}, {400, 400}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu_btn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 110}</string>
			<key>spriteSourceSize</key>
			<string>{110, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 307}, {110, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mobile_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 48}</string>
			<key>spriteSourceSize</key>
			<string>{70, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 944}, {70, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>multi_ind.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 33}</string>
			<key>spriteSourceSize</key>
			<string>{146, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{608, 4044}, {146, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>multi_ind_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {146, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 33}</string>
			<key>spriteSourceSize</key>
			<string>{146, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 4044}, {146, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mushrroom_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 66}</string>
			<key>spriteSourceSize</key>
			<string>{60, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 745}, {60, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>onion_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 65}</string>
			<key>spriteSourceSize</key>
			<string>{60, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 813}, {60, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pants_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 61}</string>
			<key>spriteSourceSize</key>
			<string>{120, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3932, 483}, {120, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pepps_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 71}</string>
			<key>spriteSourceSize</key>
			<string>{60, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4014, 625}, {60, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>popup_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pot_back_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{140, 39}, {360, 187}}</string>
			<key>spriteOffset</key>
			<string>{0, 25}</string>
			<key>spriteSize</key>
			<string>{360, 187}</string>
			<key>spriteSourceSize</key>
			<string>{640, 315}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1525, 518}, {360, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pot_front_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 38}, {640, 277}}</string>
			<key>spriteOffset</key>
			<string>{0, -19}</string>
			<key>spriteSize</key>
			<string>{640, 277}</string>
			<key>spriteSourceSize</key>
			<string>{640, 315}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{727, 673}, {640, 277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>potatoe_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 48}</string>
			<key>spriteSourceSize</key>
			<string>{70, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1247, 588}, {70, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tips.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {240, 151}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{240, 151}</string>
			<key>spriteSourceSize</key>
			<string>{240, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3333, 518}, {240, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tips_level_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 44}, {164, 79}}</string>
			<key>spriteOffset</key>
			<string>{-16, -8}</string>
			<key>spriteSize</key>
			<string>{164, 79}</string>
			<key>spriteSourceSize</key>
			<string>{240, 151}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3932, 402}, {164, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tomato_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 62}</string>
			<key>spriteSourceSize</key>
			<string>{60, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 880}, {60, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>images.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>images</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>images</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>