<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<dict>
		<key>requiredFoodItems</key>
		<array>
			<integer>0</integer>
		</array>
		<key>allowedFoodItems</key>
		<array>
			<integer>1</integer>
		</array>
		<key>allowedGarbageItems</key>
		<array>
			<integer>1</integer>
		</array>
	</dict>
	<key>speed</key>
	<integer>1</integer>
</dict>
</plist>
